body {
  /* Positions the content to the center of the page horizontally and vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  /* Default color scheme is DARK_MODE. JS handles toggling between themes */
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

#content {
  /* JS will show page content afer loading animation is finished */
  display: none;
}

#title {
  font-family: 'Sacramento', cursive;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon {
  flex: 0 0 33%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover { 
  color: silver;
}

#copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Loading animation */

#loading {
  margin: 100px auto;
  width: 50px;
  height: 40px;
}

#loading > div {
  /* Default color scheme is DARK_MODE. JS handles toggling between themes */
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#loading #rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#loading #rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#loading #rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

#loading #rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  } 20% {
    -webkit-transform: scaleY(1.0);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* Responsive design */

@media screen and (min-width: 2001px) {
  #title {
    font-size: 100px;
  }

  #copyright {
    font-size: 20px;
  }
  
  .icon {
    font-size: 33px;
    margin-bottom: 16.5px;
  }
}

@media (max-width: 2000px) and (min-width: 701px) {
  #title {
    font-size: 80px;
  }

  #copyright {
    font-size: 16px;
  }
  
  .icon {
    font-size: 26.66px;
    margin-bottom: 13.33px;
  }
}

@media (max-width: 700px) {
  #title {
    font-size: 60px;
  }

  #copyright {
    font-size: 12px;
  }

  .icon {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
